<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!--<add key="log4net.Internal.Debug" value="true" />-->

    <!--服务器地址-->
    <add key="ServerName" value="192.168.1.115" />
    <!--端口-->
    <add key="TcpPort" value="32568" />
    <!--Wonderware Historian 用户名-->
    <add key="UserName" value="admin" />
    <!--Wonderware Historian 密码-->
    <add key="Password" value="admin" />
    <!--Minimum Store Forward Duration (sec)-->
    <add key="MinSFDuration" value="15" />
    <!--Store Forward Free Disk Space (mb)-->
    <add key="FreeDiskSpace" value="1024" />
    <!--Store Forward Path-->
    <add key="StoreForwardPath" value="C:\StoreForward" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>