<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!--<add key="log4net.Internal.Debug" value="true" />-->

    <!--Historian 服务器IP地址-->
    <add key="ServerName" value="192.168.1.235" />
    <!--端口-->
    <add key="TcpPort" value="32568" />
    <!--Wonderware Historian 用户名-->
    <add key="UserName" value="admin" />
    <!--Wonderware Historian 密码-->
    <add key="Password" value="admin" />
    <!--Minimum Store Forward Duration (sec)-->
    <add key="MinSFDuration" value="15" />
    <!--Store Forward Free Disk Space (mb)-->
    <add key="FreeDiskSpace" value="1024" />
    <!--Store Forward Path-->
    <add key="StoreForwardPath" value="C:\StoreForward" />
  </appSettings>

  <connectionStrings>
    <add name="ConnectionStringNameINSQL" connectionString="Persist Security Info=False;Integrated Security=SSPI;
    database=Runtime;server=(local)" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>