<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--设备信息-->
    <add key="ModuleId" value="01" />

    <!--Web请求相关参数-->
    <add key="ApiUrl" value="http://115.28.209.159:8081/devinfo/api" />
    <add key="FileUrl" value="http://115.28.209.159/files" />
    <add key="DictUrl" value="http://115.28.209.159:8080/skydev/api/dict/getDictList" />
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36" />
    <add key="ContentType" value="application/json; charset=utf-8" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>