<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key 启用 log4net debug日志-->
    <!--<add key="log4net.Internal.Debug" value="true" />-->

    <!--WebAPI 服务监听端口-->
    <add key="ServiceListeningPort" value="9000" />

    <!--Wonderware Historian 服务器地址-->
    <add key="ServerName" value="192.168.1.180" />
    <!--Wonderware Historian 端口-->
    <add key="TcpPort" value="32568" />
    <!--Wonderware Historian 用户名-->
    <add key="UserName" value="admin" />
    <!--Wonderware Historian 密码-->
    <add key="Password" value="admin" />
    <!--Wonderware Historian Minimum Store Forward Duration (sec)-->
    <add key="MinSFDuration" value="15" />
    <!--Wonderware Historian Store Forward Free Disk Space (mb)-->
    <add key="FreeDiskSpace" value="1024" />
    <!--Wonderware Historian Store Forward Path-->
    <add key="StoreForwardPath" value="C:\StoreForward" />
    
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
  </appSettings>

<connectionStrings>
  <add name="ConnectionStringNameINSQL" connectionString="Persist Security Info=False;Integrated Security=SSPI;   database=Runtime;server=(local)" providerName="System.Data.SqlClient" />
</connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>